@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&family=Red+Hat+Display:wght@900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@media (min-width: 1440px) {
  .container {
    height: 900px;
    width: 1440px;
    left: 1057px;
    top: -450px;
    border-radius: 0;
    background: rgba(224, 232, 255, 1);
    position: relative;
  }

  .path {
    height: 427px;
    width: 1440px;
    left: 0;
    top: 0;
    border-radius: 0;
    background: rgba(214, 225, 255, 1);
    position: absolute;
  }
}
